* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo: #e0d4d4;
    --cor-secundaria: #a56735a2;
    --cor-letra: #white;
    --cor-cardapio: #a56735a2;
    --cor-botoes: rgb(165, 103, 59);
    --cor-LetraRodape: #000000;
    --cor_PalavrasNaoEScolhidas: #000000;
    --cor_bodyEprecos:#333;
}

body {
    font-family: Arial, sans-serif;
    color: var(--cor_bodyEprecos);
    background-color: var(--cor-fundo);
    font-size: 14px;
}

.menu {
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
;
}
 
.logo {
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin-right: 10px;
}

.menu-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-nav li {
    margin-right: 20px;
}

.menu-nav a {
    color: var(--cor_PalavrasNaoEScolhidas);
    text-decoration: none;
}

.menu-nav .ativo {
    color: var(--cor-botoes);
    font-size: 28px;
}

.site-footer {
    background-color: var(--cor-secundaria);
    color:var(--cor-LetraRodape);
    padding: 10px 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 10px;
}

.author-name {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.author-email {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.email-link {
    color: var();
    text-decoration: none;
}

.copy-info {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.titulo {
    margin-top: 0px;
    text-align: center;

}

.descricao {
    font-size: 22px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}

.imagem-cafeteria {
    width: 600px;
    height: auto;
    margin: 20px;
}

.cardapio {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--cor-cardapio);
    border-radius: 20px;
}

.descricao-cardapio {
    padding-bottom: 25px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--cor-fundo);
}

.cardapio ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.cardapio li {
    margin-bottom: 20px;
    color: var(--cor-letra)
}


.cardapio-img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}


.titulo-cardapio {
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.endereco {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.loc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loc img {
    width: 740px;
    height: auto;
}

.titulo-imagem {
    margin-top: 0;
    text-align: center;
}

.forms {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
}

.forms-fieldset {
    height: 200px;
}

.forms textarea {
    width: calc(100% - 500px);
    height: 140px;
}

.forms button {
    background-color: rgb(227, 227, 227);
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.forms button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-letra)
}